<h3>directiveSamples</h3>
<button (confirmed)="toggleShowImg()" itdDanger="toggeln???">toggle show Img</button>
<hr>

<ul>
  <li
    *ngFor="let val of [1,2,3]; index as i; count as c; even as e; odd as o"
    [ngClass]="{'even': e, 'odd': o}"
  >
    {{i}} # {{val}} - {{c}}
  </li>
</ul>


<!--

<ul>
  <ng-container *ngFor="let val of [1,2,3]; index as i; count as c; even as e; odd as o">
    <li
      *ngIf="e"
      [class.even]="e"
      [class.odd]="o"
    >
      {{i}} # {{val}} - {{c}}
    </li>
  </ng-container>
</ul>

-->


<!--

<ul>
  <li
    *ngFor="let val of [1,2,3]; index as i; count as c; even as e; odd as o"
    [class.even]="e"
    [class.odd]="o"
  >
    {{i}} # {{val}} - {{c}}
  </li>
</ul>

-->

<!--


<img
  *ngIf="showImg; else templateNameThatShouldBeShown"
  src="./assets/img/smallCat.jpeg"
/>

<ng-template #templateNameThatShouldBeShown>
  <div>image should not be shown</div>
</ng-template>

-->

<!--

<img
  *ngIf="showImg"
  src="./assets/img/smallCat.jpeg"
/>

<div *ngIf="!showImg">image should not be shown</div>

-->

<!--

<img
  *ngIf="showImg"
  src="./assets/img/smallCat.jpeg"
/>
<div *ngIf="showImg">description of image</div>
-->

<!--





-->
<ng-template [ngIf]="showImg">
  <img src="./assets/img/smallCat.jpeg" />
  <div>description of image</div>
  <hr>
</ng-template>
