<h3>user-list works!</h3>

<itd-user-list-item
  *ngFor="let user of users$ | async; even as e"
  [class.even]="e"
  [isSelected]="($user.selectedUser | async) ===user"
  [user]="user"
  (selectedUsr)="selectUser($event)"
></itd-user-list-item>



<!--

<itd-user-list-item
  [isSelected]="selectedUser===users[0]"
  [user]="users[0]"
  (selectedUsr)="selectUser($event)"
></itd-user-list-item>
<itd-user-list-item
  [isSelected]="selectedUser===users[1]"
  [user]="users[1]"
  (selectedUsr)="selectUser($event)"
></itd-user-list-item>
<itd-user-list-item
  [isSelected]="selectedUser===users[2]"
  [user]="users[2]"
  (selectedUsr)="selectUser($event)"
></itd-user-list-item>
-->


<!--
<itd-user-list-ite
 [class.selected]="selectedUser===use
 s[0]" [user]="users[0
 ]" (selectedUsr)="selectUser($event)"></itd-user-list-item>
<itd-user-list-item [class.selected]="selectedUser===users[1]" [user]="users[1]" (selectedUsr)="selectUser($event)"></itd-user-list-item>
<itd-user-list-item [class.selected]="selectedUser===users[2]" [user]="users[2]" (selectedUsr)="selectUser($event)"></itd-user-list-item>
-->

