$selectedHoverColor: #b4b4ef;

:host {
  display: block;
  background-color: beige;
  padding: 10px;

  cursor: pointer;

  &.even {
    background-color: #c0c0a7;
  }

  &:hover {
    background-color: #a6a6a2;
  }

  &.selected {
    background-color: $selectedHoverColor;
    &:hover {
      background-color: $selectedHoverColor;
      //cursor: none;
    }
  }
}

